<nav class="navbar navbar-expand-md navbar-light bg-dark">

      <a href="#" class="navbar-brand"><i class="material-icons text-success md-48">store</i></a>
      <button class="navbar-toggler bg-light" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
      <div id="navbar" class="collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav">
        <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-toggle="dropdown" href="">Categories</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="">Category1</a>
            <a class="dropdown-item" href="">Category2</a>
            <a class="dropdown-item" href="">Category3</a>
            <a class="dropdown-item" href="">Category4</a>
            <a class="dropdown-item" href="">Category5</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">Contacts</a></li>
        <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">About</a></li>
      </ul>
    

      <form class="form-inline">
        <div class="input-group">
          <input type="text" placeholder="Search">
          <div>
            <button class="btn-success"><i class="material-icons md-24">search</i></button>
          </div>
        </div>
      </form>
      </div>
    </nav>