{% extends 'base.html' %}
{% load static %}
{% block title %}
	Product
{% endblock %}

{% block content %}
	<div class="container py-5">
		<div class="row mt-5">
			<div class="col-10 mx-auto col-md-6 my-3">
				<img src="{% static 'images/teddy.png' %}">
			</div>
		</div>
	</div>
	<div class="col-10 mx-auto col-md-6 my-3">
		<div>
			<h1 class="product_title">Teddy Bear</h1>
			<h5 class="text-info font-italic mb-4">
								$9.99
							</h5>
			<p class="product_desc">Product Description</p>
			<p class="text-justify product_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p class="text-justify product_text">Out Of Stock</p>
		</div>
	</div>
{% endblock %}